---
awsVaultProfiles: [default]

shell: zsh
username: vtvz

# Use "alpine" if you don't need tests
image: ubuntu:24.04

# Adding new tools require changing Dockerfile.tmpl
tools:
  kubernetes/kubectl: 1.31.0
  1password: 1.12.9
  aws/aws-cli: 2.32.25
  GoogleCloudPlatform/cloud-sdk-docker: 403.0.0
  gnu/parallel: 20251222

  zsh-users/zsh-autosuggestions: 0.7.0
  zsh-users/zsh-syntax-highlighting: 0.8.0
  zsh-users/zsh-completions: 0.35.0

  neovim/neovim: 0.11.5
  golang/go: 1.23.3

  enabled:
    gcp: false
    kubernetes: true
    golang: false
    terraformer: false

  packer:
    plugins:
      - "github.com/hashicorp/amazon"

  github:
    hashicorp/terraform: 1.14.3
    gruntwork-io/terragrunt: 0.96.1
    terraform-linters/tflint: 0.60.0
    terraform-linters/tflint-ruleset-aws: 0.45.0
    GoogleCloudPlatform/terraformer: 0.8.30
    aquasecurity/tfsec: 1.28.14
    tenable/terrascan: 1.19.9
    terraform-docs/terraform-docs: 0.21.0
    plumber-cd/terraform-backend-git: 0.1.9
    hashicorp/packer: 1.14.3
    honeycombio/gritql: 0.1.0-alpha.1743007075
    evilmartians/lefthook: 2.0.13

    helm/helm: 4.0.4
    roboll/helmfile: 0.144.0
    databus23/helm-diff: 3.14.1
    ahmetb/kubectx: 0.9.5
    argoproj/argo-cd: 3.2.3
    crossplane/crossplane: 2.1.3
    ahmetb/kubectl-tree: 0.4.6
    tohjustin/kube-lineage: 0.5.0
    itaysk/kubectl-neat: 2.0.4
    corneliusweig/ketall: 1.3.8
    eksctl-io/eksctl: 0.221.0

    hadolint/hadolint: 2.14.0
    gitleaks/gitleaks: 8.30.0

    go-task/task: 3.46.4
    casey/just: 1.45.0
    direnv/direnv: 2.37.1
    starship/starship: 1.24.1
    AstroNvim/AstroNvim: 5.3.14
    junegunn/fzf: 0.67.0
    gsamokovarov/jump: 0.67.0
    mikefarah/yq: 4.50.1

    getsops/sops: 3.11.0
    FiloSottile/age: 1.3.1
    harness/drone-cli: 1.9.0
    hashicorp/vault: 1.21.1

  pip:
    pre-commit: 4.5.1
    yamllint: 1.37.1
    ansible: 13.1.0
    hvac: 2.4.0
    ansible-lint: 25.12.2
    passlib[bcrypt]: 1.7.4

dotenv:
  COMPOSE_PROJECT_NAME: tf-infra
  OP_ADDRESS: ""
  OP_EMAIL: ""
  OP_SECRET_KEY: ""
  OP_PASSWORD: ""
  GH_BASIC_AUTH: ""

extraPackages:
  - rsync
  - graphviz
  - autoconf
  - automake
  - groff
